<p style = "text-align: center; ">
		<font size ="5"><b>Borrowed Items<b> </font> 
</p>

<div class= "fixed" style = "height: 460px; width:1000px; position: relative;left:30px; top: -10px">
	<table id= "borrowed" class= "sortable" border="1" cell-padding = "5px" width= "950px">
		<caption><h4>Borrowed Items as at <%= Time.now.to_date.to_s(:long) %></h4> </caption>
		<tr><th>Item Title<th>Author<th>Classmark<th>Borrower</th></tr>
		<% @checkedOut.each do |checked| %>
		<tr><td><%= checked.book.title %><td> <%= checked.book.author %><td> <%= checked.book.classmark %><td><%= checked.employee.fullname %></td></tr>
		<% end %>
	</table>
</div>
<p>

	<button class= "but1" style="position:relative; left:700px" onclick= "printDiv('borrowed')">Print </button> <span class= "tab1"></span>
	<button class= "but1" style="position:relative; left:740px" onClick="javascript:location='/main/tools'">Back </button>
</p>

