

<p style= "text-align: center;">
	<font size= "5"><b>Stock List </b></font>
</p>
<div id = "stocks" class= "fixed" style = "height: 460px; width:1000px; position: relative;left:30px; top: -10px	 ">
<br>
	<table id="stock" class= "sortable" border="1" cell-padding = "0px" width= "950px">
		<caption>Stocks as at <%= Time.now.to_date.to_s(:long) %> </caption>
		<tr><th>Item Title<th>Author<th>Classmark<th>Status</th></tr>
		<% @books.each do |book| %>
		<tr><td><%= book.title %><td> <%= book.author %><td><%= book.classmark %><td> <%= book.availability %></td></tr>
		<% end %>
	</table>
</div>
<iframe name=print_frame width=0 height=0 frameborder=0 src=about:blank></iframe>
<p>

	<button class= "but1" style="position:relative; left:700px" onClick ="printDiv('stock')">Print </button> <span class= "tab1"></span>
	<button class= "but1" style="position:relative; left:740px" onClick="javascript:location='/main/tools'">Back </button>
</p>
